<div class="container" >
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>REGISTRO</h3>
			</div>
			<div class="card-body">
				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<!--Campo Usuario-->
            <input type="text" class="form-control" placeholder="usuario" formControlName="usuario" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
            <div *ngIf="submitted && f['usuario'].errors" class="invalid-feedback">
              <div *ngIf="f['usuario'].errors.required">Usuario requerido</div>
          </div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<!--Campo Contraseña-->
            <input type="password" class="form-control" placeholder="contraseña" formControlName="contrasena" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }">
            <div *ngIf="submitted && f['contrasena'].errors" class="invalid-feedback">
              <div *ngIf="f['contrasena'].errors.required">Contraseña Requerida</div>
          </div>
			</div>
			<!--Campo Correo-->
			<input type="text" class="form-control" placeholder="contraseña" formControlName="contrasena" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }">
            <div *ngIf="submitted && f['contrasena'].errors" class="invalid-feedback">
              <div *ngIf="f['contrasena'].errors.required">Contraseña Requerida</div>
          </div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

